In [4]:
import pandas as pd
import numpy as np

In [5]:
a = {'name':['tuto', 'to', 'prama'], 'price':['en', 'vareto', 'pff']}

In [6]:
df = pd.DataFrame(a)

In [7]:
df

    name   price
0   tuto      en
1     to  vareto
2  prama     pff

In [ ]:
# Different comments here....